* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: rgb(204, 204, 204);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

header {
  position: sticky;
  top: -10px;
  margin: 0px;
  padding: 10px;
  margin: 10px;
}

footer {
  padding: 10px;
  margin: 10px;
}

section {
  padding: 10px;
  margin: 10px;
}

h1 {
  margin: 0px 0px 0px 20px;
  font-size: 26px;
}

h2 {
  font-size: 22px;
  margin: 0px 0px 0px 20px;
}

h3 {
  font-weight: normal;
  font-size: 16px;
  margin: 0px 0px 10px 0px;
}

ul {
  padding: 15px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

.bodyWrapper {
  max-width: 960px;
  margin: 20px auto;
  background-color: rgb(233, 233, 233);
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  display: flex;
  position: relative;
}

/* left column */

.leftColumn {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 70px 20px;
  align-items: flex-end;
  flex-shrink: 0;
  flex-grow: 0;
}

.myPhotoBorder {
  width: 148px;
  height: 148px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 2px solid rgb(61, 84, 55);
}

.myPhoto {
  width: 140px;
  height: 140px;
  border-radius: 100%;
  background-size: cover;
  background-image: url(../rsschool-cv/pictures/my_photo.jpg);
}

/* right column */

.rightColumn {
  flex-shrink: 1;
  flex-grow: 1;
}

.headerFooter {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


.year {
  font-weight: bold;
}

.card {
  padding: 10px;
  margin: 10px;
}

.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.li-bold {
  font-weight: bold;
}

.contacts-list {
  list-style: none;
  padding: 0px;
}

.it-cards {
  display: flex;
  justify-content: space-between;
}


.menu-button {
  color: black;
  font-size: 12px;
  font-weight: bold;
}

#my-photo {
  border-radius: 10px;
}

.h3-bold {
  font-weight: bold;
  font-size: 20px;
}

.post {
  margin: 30px 0px 15px 0px;
  font-weight: bold;
}

.work-dit {
  margin: 10px 0px;
}

.grey-italic {
  font-style: italic;
  color: grey;
}

.aAnimation {
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aAnimation:hover {
  color: cadetblue;
  transform: scale(0.95);
}

.aAnimation::after {
  content: '';
  width: 0px;
  height: 1px;
  border-radius: 4px;
  background-color: cadetblue;
  /* transform: scale(0); */
  transition: 0.3s;
}

.aAnimation:hover::after {
  width: 100%;
}
