* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: rgb(204, 204, 204);
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
}

footer {
  padding: 20px;
  margin-top: 50px;
}


h1 {
  color: rgb(61, 84, 55);
  margin: 0px;
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 20px;
}

h2 {
  color: rgb(61, 84, 55);
  font-size: 22px;
  margin: 0px;
  margin-bottom: 20px;
  font-weight: 400;
}

h3 {
  display: inline;
  font-size: 16px;
  margin: 0px;
  font-weight: 500;
}

section {
  padding-top: 70px;
}

ul {
  padding: 0px;
  margin: 0px 0px;
}

p {
  margin: 0px 0px;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

.bodyWrapper {
  margin: 20px auto;
  max-width: 960px;
  background-color: rgb(233, 233, 233);
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.bodyContainer {
  display: flex;
  position: relative;
}

/* left column */

.leftColumn {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 70px 20px;
  align-items: flex-end;
  flex-shrink: 0;
  flex-grow: 0;
}

.myPhotoBorder {
  width: 148px;
  height: 148px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 2px solid rgb(61, 84, 55);
}

.myPhoto {
  width: 140px;
  height: 140px;
  border-radius: 100%;
  background-size: cover;
  background-image: url(../rsschool-cv/pictures/my_photo.jpg);
}

.nav {
  width: 100%;
  margin-top: 70px;
  border-top: 2px solid rgb(61, 84, 55);
  position: sticky;
  top: 20px;
}

.navigationUl {
  padding: 70px 0px;
  list-style: none;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  gap: 5px;
}

.navigationUl li a {
  color: black;
}

.boldText {
  font-size: 16px;
  font-weight: 500;
}

/* right column */

.rightColumn {
  padding: 70px 20px 20px 50px;
  flex-shrink: 1;
  flex-grow: 1;
  position: relative;
}

.contacts {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 2px solid rgb(61, 84, 55);
  padding-top: 70px;
}

.liBold {
  display: inline-block;
  width: 120px;
  font-size: 16px;
  font-weight: 500;
}

.contactsUl {
  display: flex;
  flex-direction: column;
  gap: 0px;
  list-style: none;
  padding: 0px;
}

.summaryUl {
  list-style: none;
  margin: 0px 0px;
}

.summaryText {
  margin-bottom: 20px;
}

.summaryUl li {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.summaryP {
  display: inline-block;
}

.marker {
  display: inline-block;
  content: '';
  margin-top: 11px;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: rgb(61, 84, 55);

}
/* 
.card {
  margin-bottom: 70px;
} */

.workCards {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.post {
  display: block;
  margin: 20px 0px;
}

.lastPost {
  margin-bottom: 0px;
}

.grey-italic {
  color: grey;
}

.codeExample {
  margin-bottom: 0px;
}

.footerUl {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  border-top: 2px solid rgb(61, 84, 55);
  padding: 20px 0px 0px;
  list-style: none;
}

.year {
  font-size: 12px;
  font-weight: 600;
}

.aAnimation {
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transform-origin: right;
}

.aAnimation:hover {
  color: rgb(61, 84, 55);
  transform: scale(0.95);
}

.aAnimation::after {
  content: '';
  width: 0px;
  height: 1px;
  border-radius: 4px;
  background-color: rgb(61, 84, 55);
  transition: 0.3s;
}

.aAnimation:hover::after {
  width: 100%;
}

.a2Animation {
  transition: 0.3s;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  transform-origin: left;
}

.a2Animation:hover {
  transform: scale(0.95);
  color: rgb(61, 84, 55);
}

.a2Animation::after {
  content: '';
  width: 0%;
  height: 1px;
  border-radius: 4px;
  background-color: rgb(61, 84, 55);
  transition: 0.3s;
}

.a2Animation:hover::after {
  width: 100%;
}
